.jumbotron{
  text-align: center;
  color: black;
  font-family: 'Libre Barcode 39 Text', cursive;
  /* background-color: #25A3FC; */
  font-size: 40px;
}

.jumbotron p {
  font-size: 28px;

}

img{
  width: 400px;
}

p {
  font-size: 25px;
}
.JavaScripts, .Python, .Swift {
  margin-top: 50px;
  margin-left: 380px;
  display: none;
}

body {
  letter-spacing: 3px;
  font-size: 20px;
  padding: 20px;
  background-image: url(https://wallimpex.com/wallpapers/crop-1920x1440-0-0-1920-1440/10036432/);
  color: white;
  font-family: 'Yrsa', serif;
  font-weight: lighter;
}

button{
  color: black;
}

option{
  font-size: 18px;
}

h1 {
  font-size: 40px;
}
.button .refresh {
  display: none;
  text-align: center;
  padding: 10px;
}
